@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500&display=swap');


.App {
  font-family: 'Mukta', sans-serif;
  background: black;
  
}

.homeTitle {
  font-weight: 300;
  color: white;
  font-size: 30px;
  margin-top: 25px;
  text-align: center;
}

.icn {
  height: 18px;
  margin-right: 25px;
}
