@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500&display=swap');


.App {
  font-family: 'Mukta', sans-serif;
  background: black;
  height: 100vh;
}

.homeTitle {
  font-weight: 300;
  color: white;
  font-size: 30px;

  text-align: center;
}

